.legendContainer {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.greenDot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--read);
}

.blueDot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--reading);
}

.redDot {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--not-read);
}

.legendDiv {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0rem 1rem;
  width: 100%;
}

.legendName {
  font-weight: 450;
}

.textFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 1rem;
}

.respContainer :focus {
  outline: none;
}
