.pageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  min-height: 100dvh;
  gap: 1rem;
}

.header {
  margin-bottom: 5rem;
  padding: 1rem;
}

.logo {
  width: 3rem;
  cursor: pointer;
}

.loginContainer {
  background-color: var(--nav-background);
  color: white;
  border: 2px solid var(--secondary);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 85%;
  height: 450px;
}

.slowMessageContainer {
  background-color: var(--read);
  border-radius: 3px;
  padding: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.slowMessage {
  font-size: 14px;
  font-weight: 500;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background:
    radial-gradient(farthest-side, #ffffff 94%, #0000) top/5px 5px no-repeat,
    conic-gradient(#0000 30%, #ffffff);
  mask: radial-gradient(farthest-side, #0000 calc(100% - 5px), #000 0);
  animation: l13 1s infinite linear;
}

@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}

.loginContainer h1 {
  font-size: 26px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formContainer label {
  font-size: 20px;
  font-weight: 500;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

.formContainer input {
  color: white;
  background-color: var(--nav-background);
  font-size: 17px;
  text-align: left;
}

.formContainer input::placeholder {
  opacity: 0.6;
  color: white;
}

.formContainer input:focus {
  border-color: white;
}

.usernameInput {
  border: solid 2px var(--secondary);
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 12rem;
}

.passwordInput {
  border: none;
  width: 90%;
}

.inputIconContainer {
  display: flex;
  align-items: center;
  background-color: var(--nav-background);
  border: solid 2px var(--secondary);
  border-radius: 8px;
  padding: 0.5rem 0.75rem;
  width: 12rem;
}

.inputIconContainer:focus-within {
  border-color: white;
}

.loginBtn {
  background-color: var(--all-button);
  color: white;
  border: 2px solid var(--all-button);
  font-size: 1.2rem;
  font-weight: 550;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}

.loginBtn:hover {
  background-color: white;
  color: var(--all-button);
}

.loginContainer a {
  color: white;
  font-size: 18px;
}

.loginContainer a:hover {
  text-decoration: none;
}

@media (min-width: 1200px) {
  .loginContainer {
    width: 425px;
    height: 550px;
  }

  .slowMessage {
    font-size: 18px;
  }

  .loader {
    width: 25px;
  }

  .logo {
    width: 5rem;
  }

  .usernameInput,
  .inputIconContainer {
    width: 15rem;
  }

  .loginBtn {
    padding: 0.8rem 1.5rem;
  }
}
