@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/roboto-variable.woff2") format("woff2-variations");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/montserrat-variable.woff2") format("woff2-variations");
}

:root {
  --background: #121212;
  --nav-background: #1e1e1e;
  --secondary: #3a80f8;

  --non-focused: #8a8a8a;

  --read: #238636;
  --reading: #7c36bd;
  --not-read: #e02c2c;
  --all-button: #006af5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

html {
  min-height: 100%;
  background-color: var(--background);
}

body {
  min-height: 100dvh;
  margin: 0;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  background-color: var(--background);
}

@media (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 9px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #d1d1d1;
  }
}

#root {
  min-height: 100dvh;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

input {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  appearance: textfield;
}
